<?php

namespace Drupal\agcobcau\Entity;

/**
{% for property, classes in properties %}
 * @property {{ classes|join('|') }} ${{ property }}
{% endfor %}
 */
class {{ short_classname }} extends {{ base_class }} {

  /**
   * @return static
   */
  public static function load($id) {
    return static::agcobcauGetStorage()->load($id);
  }

  /**
   * @return static[]
   */
  public static function loadMultiple(array $ids = NULL) {
    return static::agcobcauGetStorage()->loadMultiple($ids);
  }

  /**
   * @return static
   */
  public static function create(array $values = array()) {
    $values['{{ bundle_key }}'] = '{{ bundle }}';
    return static::agcobcauGetStorage()->create($values);
  }

  /**
   * @return \Drupal\Core\Entity\EntityStorageInterface
   */
  protected static function agcobcauGetStorage() {
    return \Drupal::entityManager()->getStorage('{{ entity_type_id }}');
  }

}
